{
    "port": 8001,
    "appName": "user-service",
    "appEnv": "local",
    "signatureKey": "",
    "database": {
      "host": "localhost",
      "port": 5432,
      "name": "",
      "username": "",
      "password": "",
      "maxOpenConnection": 10,
      "maxLifetimeConnection": 10,
      "maxIdleConnection": 10,
      "maxIdleTime": 10
    },
    "redis": {
      "host": "localhost",
      "port": 6379,
      "password": "",
      "db": 0,
      "keyPrefix": "user-service:jwt:"
    },
    "rateLimiterMaxRequest": 1000,
    "rateLimiterTimeSecond": 60,
    "jwtSecretKey": "",
    "jwtExpirationTime": 1440
  }
